<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation Email</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <p>Hi {{ user.username }},</p>
    <p>Thanks for signing up for WordGame! Please click on the link below to verify your email address and complete the registration process:</p>
    <p><a href="{{ activate_url }}">Activate your account</a></p>
    <p>If you didn't sign up for WordGame, please ignore this email.</p>

    {% comment %} {% block content %}
    {% autoescape off %}
    <p>Hi {{ user.username }},</p>
    <p>Thanks for signing up for WordGame! Please click on the link below to verify your email address and complete the registration process:</p>
    <p><a href="{{ activate_url }}">Activate your account</a></p>
    <p>If you didn't sign up for WordGame, please ignore this email.</p>
    {% endautoescape %}
    {% endblock %} {% endcomment %}
</body>
</html>


{% comment %} <p><a href='http://{{ domain }}/activate/{{ uid }}/{{ token }}/'>Activate your account</a></p> {% endcomment %}