<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to WordGame</h1>
        <p>Your ultimate word puzzle challenge awaits!</p>
        <a href="{% url 'login' %}" class="play-button">Login</a>
        <a href="{% url 'signup' %}" class="play-button">Sign Up</a>
        <!-- <a href="{% url 'password_reset' %}" class="play-button">Forgot Password</a> -->
    </div>
</body>
</html>

